/* Name: Jonathan Winter */
/* Date Created: 01/27/21 */
/* Most Recent Revision: 01/27/21 */

body {
	background-color: #6E8387;
	font-family: calibri;
	color: #F1EDEE;
	max-width: 1080px;
	margin: 0 auto;
	line-height: 1.1;
}

header, footer {
	background-color: #678D58;
	color: #FFFFFF;
	height: 80px;
	text-align: center;
	padding: 20px 10px 20px 10px;
}

.bottom {
	margin-top:10px;
}

nav {
	border-top: medium #97EFE9 solid;
	border-bottom: medium #97EFE9 solid;
	vertical-align:middle;
	padding: 10px 0px 10px 0px;
}

/* I'm using buttons here, but could change them to normal links.   */
/* I liked the look of buttons more rather than regular hyperlinks. */

nav .btn {
	background-color: #97EFE9;
	color: #000000;
}

nav .btn:visited {
	background-color: #63372C;
	color: #FED99B;
}

nav .btn:hover {
	font-weight:bold;
}

nav .btn:active {
	background-color: #678D58;
	font-weight:normal;
}